<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Nike Team 2</title>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <header>
        <a href="index.html" id ="logo">
          <h1>Team 2</h1>
          <h2>Quiz</h2>
        </a>
        <nav> 
          <ul> 
            <li><a href="index.html" class="selected">Portfolio</a></li>
          </ul>
        </nav> 
      </header>
      <div id="wrapper" class="container-fluid">
        <div id = "budget" class="row">
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Basic</p>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Moderate</p>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Go for Broke</p>
            </a>
          </div>
        </div>

        <div id = "level" class="row">
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Ball</p>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Other Equipment</p>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>A body</p>
            </a>
          </div>
        </di>

        <div id = "activity" class="row">
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Involves a Ball</p>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Other Equipment</p>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Just A body</p>
            </a>
          </div>
        </div>

         <ul id ="environment" class="row">
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Indoor</p>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Outdoor</p>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="img/#">
              <img src="img/#" alt="">
              <p>Mix</p>
            </a>
          </div>
        </div>


        </div>
      <footer class="footer">
        <span>
         
          <a href="#"><img src="img/twitter.png" alt ="Twitter Logo" class= "social-icon"></a>
     
         
        </span>

        <p>&copy; <%= Time.now.year%>  .</p>
      </footer>
      </div>
  </body>
  
</html>
